In [1]:
import numpy as np
import pandas as pd

In [7]:
# Series : 1차원 배열 구조
# DataFrame : 2차원 배열 구조

# Series
s = pd.Series([1,3,4, np.nan, 6, 8])
s[3]
s = pd.Series([1,3,4, np.nan, 6,8], index=['A','B','C','D','E', 'F'])
s
s['C']

4.0

In [24]:
# DataFrame
data = {
    'Name':['짱구', '철수', '훈이'],
    'Age':[5,5,5]
}

df = pd.DataFrame(data)
df
# df['Name']
# df.loc[0]
df.iloc[1]

Name    철수
Age      5
Name: 1, dtype: object

In [263]:
data = {
    'Name':['John', 'Anna', 'Peter', 'Linda'],
    'Age':[28,24,35,32],
    'City':['New York', "Paris", "Berlin", "London"]
}
df = pd.DataFrame(data)
df

df = df.rename(columns={'City': '도시'})
df = df.rename(columns={'도시': 'City'})

In [264]:

# 1. 도시 기준으로 정렬
# 2. 평균 나이 구하기
# 3. 이름이 Peter인 사람의 나이 출력
# 4. 가장 나이가 많은 사람이 살고 있는 이름, 도시 출력해보기
df = pd.DataFrame(data)


df.sort_values('City')

df['Age'].mean()

df[df['Name'] =='Peter']['Age'].values

oldest = df.loc[df['Age'].idxmax()]
oldest[['Name','City']] 

###########################################
#oldest['Name'] Serise반환
#oldest[['Name','City']] DataFrame반환
############################################

#다른방법
df.sort_values('Age', ascending=False).iloc[0][['Name','City']]

Name     Peter
City    Berlin
Name: 2, dtype: object

In [273]:
# 1000명의 사람 데이터 만들기
# 이름 : Person_1, Person_2, ... Person_1000
# 나이 : 20 ~ 60 랜덤
# 도시 : 특정 도시에서 랜덤으로 할당 ex) New York, Paris, Berlin, London, Seoul, Tokyo
np.random.seed(0)
data = pd.DataFrame({
    'Name': ['Person_' + str(i) for i in range(1, 1001)],
    'Age': np.random.randint(20, 60, 1000),
    'City': np.random.choice(["New York", "Paris", "Berlin", "London", "Seoul", 'Tokyo'], 1000)
})

# 1.도시별 평균 나이 구하기
# 2.가장 많은 사람이 살고 있는 도시
# 3.연봉 추가해서 랜덤으로 할당 ex) $50,000 ~ $150,000
# 4.연봉 순서대로 정렬한 후 연봉 1등과 꼴등 출력해보기

#1.
res = data.groupby(['City'])['Age'].mean()

#2.
# popular_city = data['City'].values
# res ={}
# for i in range(len(popular_city)):
#     if popular_city[i] in res:
#         res[popular_city[i]] += 1
#     else:
#         res[popular_city[i]] = 1 
# max = 0
# city = ""
# for k,v in res.items():
#     if max < v:
#         max = v
#         city = k
# print(max,city)    

popular_city = data['City'].value_counts() # 도시 : 도시valuecount한값
popular_city.index  #도시가인덱스
popular_city .idxmax() # 값이 max인 dix

#3.
np.random.seed(0)
salary_data = pd.DataFrame({
    'Name': data['Name'],
    'Salary': np.random.randint(50000,150001,1000)    
})
res = data.merge(salary_data, on='Name')
##########################################풀이
np.random.seed(0)
data['Salary'] = np.random.randint(50000,150001,size=data.shape[0])  


#4.
res = res.sort_values(['Salary'],ascending=False)
res.iloc[0]
res.iloc[999]
res.iloc[-1]

# res.sort_values(['Salary'],ascending=False).iloc[0]
# res.sort_values(['Salary'],ascending=False).iloc[-1]

# max = res[res['Salary'] == res['Salary'].max()].index
# min = res[res['Salary'] == res['Salary'].min()].index
# res.iloc[max]
# res.iloc[min]
######################풀이
data.loc[data['Salary'].idxmax()]
data.loc[data['Salary'].idmin()]


res = res.sort_values(['Salary'],ascending=False)
data.head(1)
data.tail(1)

1000

In [274]:
np.random.seed(0)
data1 = pd.DataFrame({
    'Name': ['Person_' + str(i) for i in range(1, 1001)],
    'Age': np.random.randint(20, 60, 1000),
    'City': np.random.choice(["New York", "Paris", "Berlin", "London", "Seoul", 'Tokyo'], 1000)
})

np.random.seed(0)
data2 = pd.DataFrame({
    'Name': ['Person_' + str(i) for i in range(1, 1001)],
    #'Name': data1['Name']
    'Salary': np.random.randint(50000,150001,1000)  
})

np.random.seed(0)
data3 = pd.DataFrame({
    'City': ["New York", "Paris", "Berlin", "London", "Seoul", 'Tokyo'],
    'Country':['USA', 'France', 'Germany', 'UK', 'Korea', 'Japan']   
})

In [275]:
res = data1.merge(data2,on='Name')
res = res.merge(data3,on='City')

#각나라별 평균연봉
res.groupby(['Country'])['Salary'].mean()

#제일 연봉높은사람은 어느나라사람인지?
idx = res['Salary'].idxmax()
res.iloc[idx]['Country']

'Germany'

In [276]:
data = pd.DataFrame({
    'City': ['Seoul', 'Seoul', 'Busan', 'Busan'],
    'Fruit': ['Apple', 'Banana', 'Apple', 'Banana'],
    'Quantity': [10, 15, 7, 12],
    'Price': [1000, 2000, 1500, 2500]
})

group = data.groupby(['City','Fruit'])['Quantity'].sum()

print(group)

City   Fruit
Busan  Apple      7
       Banana    12
Seoul  Apple     10
       Banana    15
Name: Quantity, dtype: int64